@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./images/background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.main-container{
    background-color: rgb(211, 211, 211, 0.7);
}

.container-game{
    height: 200px;
}
.container-image{
    display: flex;
    justify-content: center;
    text-align: center;
}
.container-hangman{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-image{
    position: absolute;
    height: 220px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container-btn{
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    inline-size: 100%;
    padding: 5px;
    height: 30px;
}
.addWord-container{
    padding: 10px;
    margin-bottom: 10px;
    height: 30px;
    flex-wrap: wrap;
    text-align: center;
}
.keyboard button{
    margin: 1px;
}
.container-keyboard{
    margin: auto;
    text-align: center;
    background-color: lightgray;
    max-width: 310px;
}
h3{
    margin: 3px;
    background-color: lightslategray;
    width: 100%;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.message{
    position: absolute;
    color: black;
    overflow-wrap: break-word;
    word-break: break-word;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.underscore{
    color: black;
}
.usedLetters{
    color: black;
}
#imagen{
    width: 100px;
}
@media screen and (max-width: 640px) {
    .center-image{
        position: absolute;
        top: 35%;
    }
}
@media screen and (max-width: 610px) {
    .center-image{
        position: absolute;
        top: 30%;
    }
}
